.region-branding {
  .block-system-menublock {
    float: right;
    ul.menu {
      @extend .no-ul-list;
    }

  }
}

header#branding{
  background: #ffffff;
  color:#677fb6;
  .mq-branding{
    margin: 0 auto;
  }
}

.site-branding-text {
  padding: 30px 10px 10px;
  font-size: 135%;
}
// logo values
div.site-branding a.logo {
  width: 105px;
  display: block;
  padding: 5px 5px 0;
  float: left;
  margin-bottom: 5px;
}
