.region-footer {
  @include spacing-top-bottom(20px);

  .block-menu ul.menu {
    @extend .no-ul-list;
  }
}

footer#footer{
  height: 60px;
  .mq-footer{
    margin-bottom: 0;
  }
  background: #333333;
  color: #fff;
  a{
    color: #fff;
  }
  .block-system-powered-by-block{
    float: left;
  }
  .block-system-menublock{
    float: right;
    ul.menu {
      @extend .no-ul-list;
    }
  }
}