// Header Main Menu
//
// Header menus styling for main nav
//
// Markup: header.twig
//
// Style guide: components.header



header#header{
  background: #2980b9;
  color:#fff;
  a{
    color:#fff;
    cursor: pointer;
    text-decoration: none;
  }
  .block-system-menublock{
    float: right;
    margin: 30px 0;
    ul.menu {
      @extend .no-ul-list;
    }
  }
  .block-system-branding-block {
    float: left;
    .logo, .site-branding-text {
      padding: 0;
      margin: 20px 0;
      display: inline-block;
      width: auto;
      img{
        width: 50px;
      }
    }
    .site-branding-text {
      margin: 32px 0;
      .site-branding-name{
        a {
          text-transform: uppercase;
        }
      }
    }
  }
  .mq-header{
    margin-top: 0;
    margin-bottom: 0;
  }
}
