.paragraph {
  .company-logo {
    width: 25%;
    float: left;
    img {
      border: 1px solid $gray;
      padding: 2px;
    }
  }
  .company-name {
    width: 50%;
    float: left;
  }
  .company-rating{
    width: 20%;
    float: left;
  }
}