button, .btn, .button {
  background: #9ACC55;
  color: #ffffff;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJ1dHRvbi5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxvQkFBb0I7RUFDcEIsZUFBZTtDQUNoQiIsImZpbGUiOiJjb21wb25lbnRzL2J1dHRvbi5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJidXR0b24sIC5idG4sIC5idXR0b24ge1xuICBiYWNrZ3JvdW5kOiAjOUFDQzU1O1xuICBjb2xvcjogI2ZmZmZmZjtcbn1cbiJdfQ== */
